<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" initial-scale="1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <!--- <meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
    <title>PJS</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {{>header}}
  </head>
  <body>
    {{>navbar}}
    <div class="header">
      <div class="container">
        <div class="navbar">
          <div class="logo">
            <a href="/">
            <img src="./images//pjs_Logo.png" width="125px" /></a>
          </div>
          <nav>
            <ul id="MenuItems">
              <li><a href="/">Home</a></li>
              <li><a href="/product">Products</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/contact">Contact</a></li>
              <li><a href="/account">Account</a></li>
            </ul>
          </nav>
          <a href="/cart"><img src="./images/cart.png" width="30px" height="30px" /></a>
          <img src="/images/menuicon.jpg" class="menu-icon" onclick="menutoggle()"/>
        </div>
        <div class="row">
          <div class="col-2">
            <h1>PRABHU JEE SWEETS</h1>
            <p>
              The more you celebrrate your life the more there is in life to
              celebrate.
            </p>
            <a href="/product" id="explore-link" class="btn">Explore Now &#10132;</a>
            {{!-- <a href="/product"  class="btn">Explore Now &#10132;</a> --}}
          </div>
          <div class="col-2">
            <img src="images//sweet.jpg" />
          </div>
        </div>
      </div>
    </div>

    <!---------featured categories----------->
    <div class="categories">
      <div class="small-container">
        <div class="row">
          <div class="col-3">
            <img src="images//gulabjamun.jpg" />
          </div>
          <div class="col-3">
            <img src="images//sponge.jpg" />
          </div>
          <div class="col-3">
            <img src="images//dalbut.jpg" />
          </div>
        </div>
      </div>
    </div>

    <!---------featured products----------->
    <div class="small-container">

      <h2 class="title">Featured Products</h2>
      <div class="row">
        <div class="col-4">
          <a href="/product-details"><img src="images//balushahi.jpg" /></a>
          <a href="/product-details"><h4>PRABHU JEE SWEETS</h4></a>
          <div class="rating">
            <i class="fa fa-star" ></i>
            <i class="fa fa-star" ></i>
            <i class="fa fa-star" ></i>
            <i class="fa fa-star" ></i>
            <i class="fa fa-star-half-o" ></i>

          </div>
          <p>&#x20B9 260/Kilogram; </p>
        </div>
        <div class="col-4">
          <img src="images//gulabjamun.jpg" />
          <h4>PJS Gulab Jamun</h4>
          <div class="rating">
            <i class="fa fa-star" ></i>
            <i class="fa fa-star" ></i>
            <i class="fa fa-star" ></i>
            <i class="fa fa-star" ></i>
            <i class="fa fa-star-o" ></i>

          </div>
          <p>&#x20B9 260/Kilogram; </p>
        </div>
        <div class="col-4">
          <img src="images//sponge.jpg" />
          <h4>PJS Sponge</h4>
          <div class="rating">
            <i class="fa fa-star" ></i>
            <i class="fa fa-star" ></i>
            <i class="fa fa-star" ></i>
            <i class="fa fa-star" ></i>
            <i class="fa fa-star-o" ></i>

          </div>
          <p>&#x20B9 280/Kilogram; </p>
        </div>
        <div class="col-4">
          <img src="images//dalbut.jpg" />
          <h4>PJS Dalbut</h4>
          <div class="rating">
            <i class="fa fa-star" ></i>
            <i class="fa fa-star" ></i>
            <i class="fa fa-star" ></i>
            <i class="fa fa-star" ></i>
            <i class="fa fa-star-half-o" ></i>

          </div>
          <p>&#x20B9 200/Kilogram; </p>
        </div>
      </div>
      <h2 class="title">Latest Products</h2>
      <div class="row">
        <div class="col-4">
          <img src="images//ghee.jpg" />
          <h4>PJS Ghee</h4>
          <div class="rating">
            <i class="fa fa-star" ></i>
            <i class="fa fa-star" ></i>
            <i class="fa fa-star" ></i>
            <i class="fa fa-star" ></i>
            <i class="fa fa-star" ></i>
            

          </div>
          <p>&#x20B9 600/Kilogram; </p>
        </div>
        <div class="col-4">
          <img src="images//pera.jpg" />
          <h4>PJS Special Pera</h4>
          <div class="rating">
            <i class="fa fa-star" ></i>
            <i class="fa fa-star" ></i>
            <i class="fa fa-star" ></i>
            <i class="fa fa-star" ></i>
            <i class="fa fa-star-o" ></i>

          </div>
          <p>&#x20B9 200/Kilogram, 1/piece; </p>
        </div>
        <div class="col-4">
          <img src="images//khurma.jpg" />
          <h4>PJS khurma</h4>
          <div class="rating">
            <i class="fa fa-star" ></i>
            <i class="fa fa-star" ></i>
            <i class="fa fa-star" ></i>
            <i class="fa fa-star" ></i>
            <i class="fa fa-star-o" ></i>

          </div>
          <p>&#x20B9 120/Kilogram; </p>
        </div>
        <div class="col-4">
          <img src="images//gaja.jpg" />
          <h4>PJS Gaja</h4>
          <div class="rating">
            <i class="fa fa-star" ></i>
            <i class="fa fa-star" ></i>
            <i class="fa fa-star" ></i>
            <i class="fa fa-star" ></i>
            <i class="fa fa-star-half-o" ></i>

          </div>
          <p>&#x20B9 180/Kilogram; </p>
        </div>
      </div>
    </div>

    <!-------offer------->
    <div class="offer">
      <div class="small-container">
        <div class="row">
          <div class="col-2">
            <img src="images//rakshabandansweet.jpg" class="offer-img">
          </div>
          <div class="col-2">
            <p>Exclusively Available on PJS</p>
            <h1>Gulab Jamun</h1>
            <small>Mithas Ka Bandhan-Happy RakshaBandhan.</small>
            <a href="/cart.html" class="btn">Buy Now &#8594;</a>
          </div>
        </div>
      </div>
    </div>

    <!----- testimonial-shukargujar -->
    <div class="testimonial">
      <div class="small-container">
        <div class="row">
          <div class="col-3">
            <i class="fa fa-quote-left" ></i>
            <p>A delightful sweet haven! The sweets are heavenly, and the service is exceptional. Highly recommended! </p>
            <div class="rating">
              <i class="fa fa-star" ></i>
              <i class="fa fa-star" ></i>
              <i class="fa fa-star" ></i>
              <i class="fa fa-star" ></i>
              <i class="fa fa-star-half-o" ></i>
  
            </div>
            <img src="images//user1.jpg" >
            <h3>Mrs. Priyedarshani
            </h3>
          </div>

          <div class="col-3">
            <i class="fa fa-quote-left" ></i>
            <p>This sweet shop is an absolute treat for the senses! A scrumptious paradise of flavors awaits, and the staff's kindness adds an extra sprinkle of sweetness to the experience. A must-visit for all dessert enthusiasts! 🍬🍭🍰 </p>
            <div class="rating">
              <i class="fa fa-star" ></i>
              <i class="fa fa-star" ></i>
              <i class="fa fa-star" ></i>
              <i class="fa fa-star" ></i>
              <i class="fa fa-star-o" ></i>
  
            </div>
            <img src="images//user2.jpg" >
            <h3>Mr. Aaditya
            </h3>
          </div>

          <div class="col-3">
            <i class="fa fa-quote-left" ></i>
            <p>This sweet shop is pure magic! Their sweets have a special taste that is unparalleled. Each bite is a journey to flavor paradise, and I can't get enough of their unique creations. A true gem for those seeking extraordinary taste sensations! 🌟🍬✨ </p>
            <div class="rating">
              <i class="fa fa-star" ></i>
              <i class="fa fa-star" ></i>
              <i class="fa fa-star" ></i>
              <i class="fa fa-star" ></i>
              <i class="fa fa-star-half-o" ></i>
  
            </div>
            <img src="images//user3.jpg" >
            <h3>Mrs. Puja </h3>
          </div>

        </div>
      </div>
    </div>

    <!-------brands-->
    <div class="brands">
      <div class="small-container">
        <div class="row">
          <div class="col-5">
            <img src="images//pjs_Logo.png" >
          </div>
          <div class="col-5">
            <img src="images//paypal.png" >
          </div>
          <div class="col-5">
            <img src="images//phonepe.png" >
          </div>
          <div class="col-5">
            <img src="images//paytm.png" >
          </div>
          <div class="col-5">
            <img src="images//upi.png" >
          </div>
        </div>
      </div>
    </div>

    <!-------footer -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="footer-col-1">
            <h3>Download Our App</h3>
            <p>Download App for Android and ios mobile phone.</p>
            <div class="app-logo">
              <img src="images//googleplay.jpg" >
              <img src="images//appstore.jpg" >
            </div>


          </div>
          <div class="footer-col-2">
            <img src="mernbackend//templates//views//pjs_Logo.png" >
            <p>Our Purpose is To Sustainably Make the Pleasure and Benefits of Sports Accessible to the Many.</p>
          </div>

          <div class="footer-col-3">
            <h3>Useful Links</h3>
            <ul>
              <li>Coupons</li>
              <li>Blog Post</li>
              <li>Return Policy</li>
              <li>Join Affiliate</li>
            </ul>
          </div>

          {{!-- <div class="footer-col-4">
            <h3>Follow Us</h3>
            <ul>
              <li>Facebook</li>
              <li>Twitter</li>
              <li>Instagram</li>
              <li> <a href="https://www.youtube.com/@mamtakumarijaiswal7625">YouTube </a></li>
            </ul>
          </div> --}}
          <div class="footer-col-4">
          <h3>Follow Us</h3>
             <ul>
              <li><a href="https://www.facebook.com/profile.php?id=61550231367076">Facebook</a></li>
              <li><a href="https://twitter.com/Mamta7806288141">Twitter</a></li>
              <li><a href="https://www.instagram.com/mamtakumari8610/">Instagram</a></li>
             <li><a href="https://www.youtube.com/@mamtakumarijaiswal7625">YouTube</a></li>
           </ul>
        </div>

        </div>
        <hr>
        <p class="copyright">Copyright 2023 - Self Creation</p>
      </div>
    </div>

    <!--------js for toggle menu----->
    <script>
      var MenuItems = document.getElementById("MenuItems");

      MenuItems.style.maxHeight = "0px";

      function menutoggle(){
        if(MenuItems.style.maxHeight == "0px"){
          MenuItems.style.maxHeight = "200px";
        }
        else{
          MenuItems.style.maxHeight = "0px";
        }
      }

      //Use a different function name to avoid conflicts
      document.getElementById("explore-link").addEventListener("click", function(event){
        event.preventDefault(); //Prevent default link behavior
        window.location.href = "/product"; //Navigate to the product page
      });
    </script>
  </body>
</html>
